<section class="w-full" id="<%= dom_id game %>">
  <%= render Game::Board::Component.new(game:) %>
  <aside class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 gap-4 mb-16 justify-center">
    <% game.players.each do |player| %>
      <%= render Player::Component.new(player) %>
    <% end %>
  </aside>
  <section class="flex justify-around w-full">
    <div class="border rounded-lg py-8 px-8 w-full flex gap-8">
      <div class="w-full flex flex-col items-center">
        <h2 class="text-2xl font-bold">Stats:</h2>
        <div class="mt-4">
          <strong>Small Blind:</strong> <%= number_to_currency(game.small_blind) %>
        </div>
        <div class="mt-4">
          <strong>Big Blind:</strong> <%= number_to_currency(game.big_blind) %>
        </div>
        <div class="mt-4">
          <strong>Chip leader:</strong> <%= game.chip_leader&.display_name %>
        </div>
      </div>
      <div class="w-full flex flex-col items-center">
        <h2 class="text-2xl font-bold">Hands:</h2>
        <div class="mt-4">
          <strong>Hand #:</strong> <%= game.hands.count %>
        </div>
        <% if game.current_round.type == "Rounds::Showdown" %>
          <div class="mt-4">
            <strong>Won:</strong> <%= number_to_currency(game.current_round.pot) %>
          </div>
        <% end %>
      </div>
      <div class="w-full flex flex-col items-center">
        <h2 class="text-2xl font-bold">Deck:</h2>
        <div class="flex flex-col gap-2">
          <strong>Cards left:</strong> <%= game.deck.cards_left %>
        </div>
      </div>
    </div>
  </section>
</section>
