<div class="flex flex-col gap-2 border rounded-lg p-4 min-w-[273px] relative <%= card_bg_color %>">
  <% if player == game.chip_leader %>
    <div class="text-green-500 absolute top-0 right-0 font-bold">CL</div>
  <% end %>
  <div class="flex items-center gap-2">
    <strong><%= player.display_name %></strong>
    <% unless player.table_position == "field" %>
      <div>
        <span class="text-green-500 font-bold"><%= player.table_position.titleize %></span>
      </div>
    <% end %>
  </div>
  <div>
    <strong>Hand:</strong> <%= player.current_hand %>
    <aside class="flex flex-wrap gap-2">
      <%= player.top_five_cards_html %>
    </aside>
  </div>
  <div>
    <strong>Owes the pot:</strong> <%= number_to_currency(player.owes_the_pot) %>
  </div>
  <div>
    <strong>In for:</strong> <%= number_to_currency(game.current_hand.bets.where(player: player).sum(:amount)) %>
  </div>
  <div>
    <strong>Position #:</strong> <%= player.position %>
  </div>
  <div>
    <strong>Turn:</strong> <%= player.turn? %>
  </div>
  <div>
    <strong>State:</strong> <%= player.state %>
  </div>
  <% unless ["Rounds::Showdown", "Rounds::River"].include?(game.current_round.type) %>
    <div>
      <strong>Odds to win:</strong> <%= player.odds_to_win %>
    </div>
  <% end %>
  <div>
    <strong>Round Actions:</strong>
    <% last_round_bets.each do |bet| %>
      <div>
        <%= bet.display_name %>
      </div>
    <% end %>
  </div>
  <div>
    <strong>Current Holdings:</strong>
    <div>
      <%= number_to_currency(player.current_holdings) %>
    </div>
    <% if game.current_round.type == "Rounds::Showdown" && game.top_hands.include?(player) %>
      <div class="">
        <strong>Won:</strong> <%= number_to_currency(game.current_round.pot) / game.top_hands.count %>
      </div>
    <% end %>
  </div>
  <div>
    <div class="flex flex-wrap gap-2">
      <strong>Cards:</strong>
      <% player.cards.each do |card| %>
        <%= card.to_html %>
      <% end %>
    </div>
  </div>
  <%= render Player::Actions::Component.new(player:) %>
</div>
