<div class="flex flex-col gap-2 border rounded-lg p-4 min-w-[273px] <%= card_bg_color %>">
  <div>
    <strong><%= player.display_name %></strong>
  </div>
  <div>
    <strong>Hand:</strong> <%= player.current_hand %>
    <aside class="flex flex-wrap gap-2">
      <%= player.top_five_cards_html %>
    </aside>
  </div>
  <div>
    <strong>Table position:</strong> <%= player.table_position %>
  </div>
  <div>
    <strong>In for:</strong> <%= number_to_currency(game.current_hand.bets.where(player: player).sum(:amount)) %>
  </div>
  <div>
    <strong>Position #:</strong> <%= player.position %>
  </div>
  <div>
    <strong>Turn:</strong> <%= player.turn? %>
  </div>
  <div>
    <strong>State:</strong> <%= player.state %>
  </div>
  <div>
    <strong>Round Action:</strong> <%= player.bets.where(round: game.current_round).last&.type %>
  </div>
  <div>
    <strong>Current Holdings:</strong> <%= number_to_currency(player.current_holdings) %>
  </div>
  <div>
    <div class="flex flex-wrap gap-2">
      <strong>Cards:</strong>
      <% player.cards.each do |card| %>
        <%= card.to_html %>
      <% end %>
    </div>
  </div>
  <% if player.turn? && player.still_in? && game.current_round.type != "Rounds::Showdown" %>
    <div class="inline-flex justify-center rounded-md shadow-xs mt-5" role="group" >
      <%= button_to check_or_call(player).capitalize, game_bets_path(game_id: game.id, type: check_or_call(player)), params: { player_id: player.id, amount: game.big_blind }, class: "cursor-pointer px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-s-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white" %>
      <button type="button" class="px-4 py-2 text-sm font-medium text-gray-900 bg-white border-t border-b border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white">
        Raise
      </button>
      <%= button_to "Fold", game_bets_path(game_id: game.id, type: "Fold"), params: { player_id: player.id, amount: game.big_blind }, class: "cursor-pointer px-4 py-2 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-e-lg hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:text-white dark:hover:bg-gray-700 dark:focus:ring-blue-500 dark:focus:text-white" %>
    </div>
  <% end %>
</div>
