<div class="flex flex-col gap-2 border rounded-lg p-4 min-w-[273px] <%= card_bg_color %>">
  <div>
    <strong><%= player.display_name %></strong>
  </div>
  <div>
    <strong>Hand:</strong> <%= player.current_hand %>
    <aside class="flex flex-wrap gap-2">
      <%= player.top_five_cards_html %>
    </aside>
  </div>
  <div>
    <strong>Table position:</strong> <%= player.table_position %>
  </div>
  <div>
    <strong>Owes the pot:</strong> <%= number_to_currency(player.owes_the_pot) %>
  </div>
  <div>
    <strong>In for:</strong> <%= number_to_currency(game.current_hand.bets.where(player: player).sum(:amount)) %>
  </div>
  <div>
    <strong>Position #:</strong> <%= player.position %>
  </div>
  <div>
    <strong>Turn:</strong> <%= player.turn? %>
  </div>
  <div>
    <strong>State:</strong> <%= player.state %>
  </div>
  <div>
    <strong>Round Actions:</strong>
    <% last_round_bets.each do |bet| %>
      <div>
        <%= bet.display_name %>
      </div>
    <% end %>
  </div>
  <div>
    <strong>Current Holdings:</strong> <%= number_to_currency(player.current_holdings) %>
  </div>
  <div>
    <div class="flex flex-wrap gap-2">
      <strong>Cards:</strong>
      <% player.cards.each do |card| %>
        <%= card.to_html %>
      <% end %>
    </div>
  </div>
  <%= render Player::Actions::Component.new(player:) %>
</div>
